body {
    margin: 0;
    padding: 3px;
    background-color: rgb(0, 0, 0);
    text-decoration: none;

}

header {
    background-color: rgb(12, 11, 11);
    color: rgb(0, 0, 0);
    padding: 25px;
    border: none;
    margin: 50px;
    border-radius: 0px; 
    height: 60px;
    font-size: 16px;
    text-decoration: none;
    justify-content: space-between;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    transition: 0,8px;

    
}

h2{
    text-align: center;
     font-family: 'Press Start 2P', sans-serif; 
    margin-bottom: 80px;
    background: linear-gradient(hsl(315, 76%, 16%), hsl(265, 66%, 23%), hsl(290, 56%, 42%));
}


nav ul {
    list-style-type: none;
    padding: 0;

}

.container {
    background-color: rgb(14, 14, 14);
    max-width: 700px; /* Largura máxima do formulário */
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
    padding: 20px; /* Espaçamento interno do formulário */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 ; 
    color: rgb(219, 217, 217);
}


a{
    list-style-type: none;
    align-items: center;
    padding: 18px;
    text-decoration: none;
    text-align: center;
    margin: 30px
}

 button {
    background-color: rgb(0, 0, 0);
    color: rgb(219, 217, 217);
    padding: 5px 6px;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
    height: 50px;
    transition: 0.3s;
    font-family: "Turret Road", sans-serif;
    border: none;
    border-radius: 15px;
    text-decoration: none;

}

 textarea  {
    font-family: "Turret Road", sans-serif;

 }
 nav a:hover {
    color: rgb(52, 51, 51);
    text-decoration: none;

}


form {
    width: 80%;
    margin-top: 20px;
    
}
label {
    display: block;
    margin: 5%;    
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 8%;
    border-radius: 20px;
    border: 2px solid #ccc;
    outline: none;
    background-color: rgb(204, 204, 204);
}

button.botton-secundario {
    background-color: rgb(205, 205, 205);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    transition: 0.3s ease;
    margin-bottom: 100px;

}

button.botton-secundario:hover {
    background-color: #f0f0f0;
}

footer {
    background-color: rgb(0, 0, 0);
    border-top: 180px solid black;
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P', sans-serif; /* Adicionando a fonte do Google Fonts */
    font-size: 10px;
}
