body {
   color: black;
   background: linear-gradient(to bottom, #ffffff, #f0f0f0);
    box-sizing: border-box;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    font-size: 1rem;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    border-radius: 8px;

}

header {
    margin: 50px;
    padding: 3px;
    font-family: 'Roboto', sans-serif;}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 18px;

}

h1{
    text-align: initial;
    box-sizing: border-box;
    margin: 5px;
    padding-left: 580px;
    font-family: 'Roboto', sans-serif;}
h2{
    padding-left: 113px;
    margin: 10px;
    text-align: left;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h3{
    padding-left: 30px;
    text-align: center;

}

p{
    padding-left: 5%;
    box-sizing: content-box;
    margin: 50px;
    text-align:justify

}

a {
    color: black;
    text-decoration: none;
}


img {
    border-radius: 50%;
    border: 5px black;
    margin: 50px;
    
}

.center { 
    text-align: center;

}

.container {
    padding: 0px 50px;
    justify-content: space-between;
    background-color: black;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    padding: 8px 10px;
    line-height: 50px;
    transition: 0,8px;

}

button {
    background-color: white;
    border: none;
    border-radius: 8px; /* Alterado para um valor fixo */
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 16px;
    transition: box-shadow 0.3s;
    font-family: 'Roboto', sans-serif;
}

nav a:hover {
    color: black;
}

footer {
    background-color: white;
    text-align: center;
    padding: 20px;
    border-top: 2px solid black;
    color: black;
}
