body {
    color: black;
     background-color: white;
     font-family: 'Roboto', sans-serif;
    }

 .container {
    justify-content: space-between;
    background-color: black;
    display: inline-block;
    text-decoration: none;
    width: 90%;
    padding: 8px;
    line-height: 50px;
    transition: 0,8px;
    margin: 50px;
}

nav a:hover {
   color: black

}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 18px;
}
a {
   color: black;
   text-decoration: none;
}


button {
    background-color: white;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 16px;
    transition: box-shadow 0.3s;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: initial;
    box-sizing: border-box;
    margin: 5px;
    padding-left: 580px;
    font-family: 'Roboto', sans-serif;}

footer {
    background-color: white;
    text-align: center;
    padding: 20px;
    border-top: 2px solid black;
    color: black;
}
